<header>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%= link_to "<h1>Kunitachi Kids International School</h1>", "/index.html" %>
        </h1>
        <h2 class="subtitle">
        english school!
        </h2>
        <span>Tel: <%= data.nav.contacts.tel %></span>
        <span>Email <%= data.nav.contacts.email %></span>
        <span>Address <%= data.nav.contacts.address %></span>
      </div>
    </div>
  </section>
</header>