<header>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="level">
          <h1 class="title">
            <%= link_to "Kunitachi Kids<br>International School", "/index.html" %>
          </h1>
          <div class="level-right">
            <div>
              <p>Tel: <%= data.nav.contacts.tel %></p>
              <p>Email: <%= data.nav.contacts.email %></p>
              <p>Address: <%= data.nav.contacts.address %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>