<nav class="nav">
  <div class="container">
    <div class="nav-left nav-menu">
      <% data.nav.pages.each do |page| %>
        <%= link_to page, "\/#{page.tr_s(" ", "_")}.html",
          class: "nav-item is-tab is-hidden-mobile" %>
      <% end %>
    </div>
  </div>
</nav>

