<aside class="menu">
  <ul class="menu-list">
    <% data.nav.pages.each do |page| %>
      <li>
        <%= link_to page, "\/#{page.tr_s(" ", "_")}.html",
          class: "nav-item is-tab" %>
      </li>
    <% end %>
  </ul>
</aside>
