---
title: "Courses and Schedule"
description: Monday to Saturday, for kids and for adults
---
<h1 class="title"><%= current_page.data.title %></h1>
<h2 class="subtitle is-6"><%= current_page.data.description %></h2>

