---
title: Home
description: International School in Kunitachi
---
<div class="column">
  <div class="is-half is-offset-one-quarter">
    <article class="message is-warning">
      <div class="message-header">
        <p>Welcome</p>
      </div>
      <div class="message-body">
      <div class="level">
      <div class="level-left">
        <figure class="image is-128x128">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="level-right">
      </div>
      </div>
      </div>
    </article>
  </div>
</div>
