---
title: Home
description: International School in Kunitachi
---
<section>
  <div class="columns  is-gapless is-multiline is-mobile">
    <div class="column is-half">
      <figure class="image is-480x480 is-half">
        <%= image_tag "images/index/kunitachikidskunitachi.png" %>
      </figure>
    </div>
    <div class="column is-half">
      <figure class="image is-480x480 is-half">
        <%= image_tag "images/index/kunitachikidstachikawa.png" %>
      </figure>
    </div>
  </div>
</section>
